*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

.nav-menu{
    background: #0C0C0D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
    position:fixed;
    width:100%;
    height: 90px;
    z-index: 1;
}

.nav-menu ul{
    display: flex;
    list-style: none;
    gap: 4rem;
}

.nav-menu ul a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.nav-menu img{
    width: 4rem;
}

body{
    background-color: #0F0F10;
}

.home, .about, .project{
    width: 100%;
    height: 100vh;
}

.project{
    background-color: white;
}

.contact{
    width: 100%;
    height: 50vh;
}

.home-content{
    width: 100%;
    height: 100%;
    background: url("./imgs/accueil.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 40vw 0rem 5vw rgba(0,0,0,0.4);
}

.home-content h1{
    margin-left: 80px;
    color: white;
    font-size: 100px;
    text-align: left;
    position: relative;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}