*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "Pixelated MS Sans Serif",Arial;
    font-size: 16px;
}

body{
    background-color: #530866;
}

.logo{
    display: flex;
    padding-top: 50px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.back_grid{
    display: flex;
    padding-top: 50px;
    width: 100%;
}

.projects{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
}

.window{
    width: 550px;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    background: silver;
    box-shadow: inset -3px -3px #0a0a0a,inset 3px 3px #dfdfdf,inset -4px -4px grey,inset 4px 4px #fff;
    padding: 6px;
}

.window-body{
    margin: 8px;
}

.window-title-bar{
    align-items: center;
    background: linear-gradient(90deg,navy,#1084d0);
    display: flex;
    justify-content: space-between;
    padding: 3px 2px 3px 3px;
}

.window-title-text{
    color: #fff;
    font-weight: 700;
    letter-spacing: 0;
}

.window-body p{
    display: flex;
    text-align: left;
    max-width: 50rem;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
}

.project-button{
    position: static;
    right: 0;
    background: silver;
    box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
    /* border:none; */
    border-radius: 0;
    box-sizing: border-box;
    min-height: 23px;
    min-width: 75px;
    padding: 0 12px;
}

@media screen and (max-width: 850px) and (max-aspect-ratio: 3/2){
    .logo{
        width: 95%;
    }
}

@media screen and (max-width: 600px){
    .window{
        width: 95%;
    }
}