@mixin gradient_cym(){
    color: var(--blue);
    &:hover{
        animation: gradient_cym_data 3s infinite;
    }
}

@mixin gradient_darker_cym(){
    color: var(--darker-blue);
    &:hover{
        animation: gradient_darker_cym_data 3s infinite;
    }
}