:root {
  --bg-dark: #0e0e0f;
  --bg-light: #e7e3e3;
  --darker-dark: #0a0a0a;
  --darker-light: #dbdbdb;
  --blue: #1ad1c5;
  --yellow: #ebd161;
  --magenta: #e26ae2;
  --darker-blue: #11837b;
  --darker-yellow: #b49922;
  --darker-magenta: #941794;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
  scroll-behavior: smooth;
}

@keyframes gradient_cym_data {
  0% {
    color: var(--blue);
  }
  40% {
    color: var(--yellow);
  }
  80% {
    color: var(--magenta);
  }
  100% {
    color: var(--blue);
  }
}
@keyframes gradient_darker_cym_data {
  0% {
    color: var(--darker-blue);
  }
  40% {
    color: var(--darker-yellow);
  }
  80% {
    color: var(--darker-magenta);
  }
  100% {
    color: var(--darker-blue);
  }
}
.nav-menu {
  background: var(--darker-dark);
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 1;
}
.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 3rem;
}
.nav-menu ul a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: var(--blue);
  color: white;
}
.nav-menu ul a:hover {
  animation: gradient_cym_data 3s infinite;
}
.nav-menu img {
  width: 4rem;
}

body {
  background-color: var(--bg-dark);
  color: white;
  transition: 0.3s;
}
body .home, body .about, body .project {
  width: 100%;
  height: 100vh;
}
body .home .home-content {
  width: 100%;
  height: 100%;
  background: url("../imgs/accueil.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 40vw 0rem 5vw rgba(0, 0, 0, 0.4);
}
body .home .home-content ul {
  margin-left: 80px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  list-style: none;
}
body .home .home-content ul li h1 {
  font-size: 100px;
  text-align: left;
  color: white;
}
body .home .home-content ul li .colored-title {
  animation: gradient_cym_data 4s infinite;
}
body .about .about-content {
  display: flex;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  justify-content: center;
  height: 60vh;
}
body .about .about-content span {
  border-left: 2px solid rgb(255, 255, 255);
  margin: 0 50px;
}
body .about .about-content img {
  border-radius: 75px;
}
body .about .about-content .about-text p {
  width: 60vh;
  text-align: left;
}
body .about .about-content .about-text a {
  color: var(--blue);
  font-size: 30px;
  font-weight: bold;
  display: flex;
  text-align: left;
}
body .about .about-content .about-text a:hover {
  animation: gradient_cym_data 3s infinite;
}
body .project .project-content {
  display: block;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  justify-content: center;
  height: 60vh;
}
body .project .project-content .tab {
  overflow: hidden;
}
body .project .project-content .tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  font-size: 50px;
  padding: 0 15px;
}
body .project .project-content .tab button:hover {
  color: var(--blue);
  opacity: 0.5;
}
body .project .project-content .tab button:hover:hover {
  animation: gradient_cym_data 3s infinite;
}
body .project .project-content .tab button.active {
  color: var(--blue);
  opacity: 1;
}
body .project .project-content .tab button.active:hover {
  animation: gradient_cym_data 3s infinite;
}
body .project .project-content .tabcontent {
  display: none;
  padding: 6px 12px;
}
body .project .project-content .pro-container {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: repeat(2, 220px);
  position: relative;
  justify-content: center;
  gap: 10px;
}
body .project .project-content .pro-container a {
  text-decoration: none;
  color: var(--blue);
}
body .project .project-content .pro-container a:hover {
  animation: gradient_cym_data 3s infinite;
}
body .project .project-content .pro-container a .pro {
  width: 100%;
  height: 100%;
  background: url("../imgs/accueil.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
}
body .project .project-content .pro-container a .pro:hover {
  opacity: 0.5;
}
body .project .project-content .pro-container a .pro h1 {
  font-size: 50px;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  background-color: rgba(10, 10, 10, 0.6980392157);
  border-radius: 25px;
  color: white;
}
body .contact {
  width: 100%;
  height: 50vh;
  background-color: var(--darker-dark);
  color: white;
  transition: 0.3s;
}
body .contact .contact-content {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  padding: 50px 40px;
  display: flex;
  justify-content: space-between;
}
body .contact .contact-content .contact-bloc {
  display: block;
}
body .contact .contact-content .contact-bloc .light-icons {
  display: unset;
}
body .contact .contact-content .contact-bloc .dark-icons {
  display: none;
}
body .contact .contact-content .contact-bloc img {
  width: 50px;
}
body .contact .contact-content .contact-bloc h1, body .contact .contact-content .contact-bloc h2 {
  text-align: left;
}
body .contact .contact-content .contact-bloc a, body .contact .contact-content .contact-bloc h1 {
  font-size: 75px;
  color: var(--blue);
}
body .contact .contact-content .contact-bloc a:hover, body .contact .contact-content .contact-bloc h1:hover {
  animation: gradient_cym_data 3s infinite;
}
body .contact .contact-content .contact-bloc h2 {
  font-size: 30px;
}

.light-mode-body {
  background-color: var(--bg-light);
  color: black;
}
.light-mode-body .contact, .light-mode-body .nav-menu {
  background-color: var(--darker-light);
  color: black;
}
.light-mode-body .about .about-content span {
  border-left: 2px solid rgb(0, 0, 0);
}
.light-mode-body .contact .contact-content .contact-bloc .light-icons {
  display: none;
}
.light-mode-body .contact .contact-content .contact-bloc .dark-icons {
  display: unset;
}
.light-mode-body .nav-menu ul a {
  color: var(--darker-blue);
  color: black;
}
.light-mode-body .nav-menu ul a:hover {
  animation: gradient_darker_cym_data 3s infinite;
}
.light-mode-body .about .about-content .about-text a, .light-mode-body .project .project-content .tabcontent .pro-container a, .light-mode-body .contact .contact-content .contact-bloc h1, .light-mode-body .contact .contact-content .contact-bloc a {
  color: var(--darker-blue);
}
.light-mode-body .about .about-content .about-text a:hover, .light-mode-body .project .project-content .tabcontent .pro-container a:hover, .light-mode-body .contact .contact-content .contact-bloc h1:hover, .light-mode-body .contact .contact-content .contact-bloc a:hover {
  animation: gradient_darker_cym_data 3s infinite;
}
.light-mode-body .project .project-content .tab button i {
  color: black;
}
.light-mode-body .project .project-content .tab button:hover i {
  color: var(--darker-blue);
  opacity: 0.7;
}
.light-mode-body .project .project-content .tab button:hover i:hover {
  animation: gradient_darker_cym_data 3s infinite;
}
.light-mode-body .project .project-content .tab button.active i {
  color: var(--darker-blue);
  opacity: 1;
}
.light-mode-body .project .project-content .tab button.active i:hover {
  animation: gradient_darker_cym_data 3s infinite;
}

.switch {
  display: block;
  position: relative;
  margin: auto;
  width: 50px;
  height: 22px;
  cursor: pointer;
  overflow: hidden;
}
.switch input {
  position: absolute;
  top: -30px;
  left: -30px;
  width: 0;
  height: 0;
}
.switch input + span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  border-radius: 20px;
}
.switch input:checked + span {
  background: #000000;
}
.switch input + span:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 18px;
  height: 18px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.switch input:checked + span:before {
  left: 28px;
  background: #ffffff;
}

/*# sourceMappingURL=build.css.map */
