@use 'mixins';

:root { //colors for dark/light mode
    --bg-dark: #0e0e0f;
    --bg-light: #e7e3e3;
    --darker-dark: #0a0a0a;
    --darker-light: #dbdbdb;
    --blue: #1ad1c5;
    --yellow: #ebd161;
    --magenta: #e26ae2;
    --darker-blue: #11837b;
    --darker-yellow: #b49922;
    --darker-magenta: #941794;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    scroll-behavior: smooth;
}

@keyframes gradient_cym_data { //dark mode gradient
    0% { color: var(--blue); }
    40% { color: var(--yellow); }
    80% { color: var(--magenta); }
    100% { color: var(--blue); }
}

@keyframes gradient_darker_cym_data { //light mode gradient
    0% { color: var(--darker-blue); }
    40% { color: var(--darker-yellow); }
    80% { color: var(--darker-magenta); }
    100% { color: var(--darker-blue); }
}

#burger-menu { //setup of the burger menu style
    display: none;
	cursor: pointer;
	height: 27px;
	width: 27px;
    margin-right: 20px;
	overflow: visible;
	position: relative;
	z-index: 2;
	span,
	span:before,
	span:after {
		background: white;
		display: block;
		height: 2px;
		opacity: 1;
		position: absolute;
		transition: 0.3s ease-in-out;
	}
	span:before,
	span:after {
		content: '';
	}
	span:before {
		left: 0px;
		top: -10px;
		width: 27px;
	}
	span {
		right: 0px;
		top: 13px;
		width: 27px;
	}
	span:after {
		left: 0px;
		top: 10px;
		width: 27px;
	}
	&.close { //when open
		span:before {
			top: 0px;
			transform: rotate(90deg);
			width: 27px;
		}
		span {
			transform: rotate(-45deg);
			top: 13px;
			width: 27px;
		}
		span:after {
			top: 0px;
			left: 0;
			transform: rotate(90deg);
			opacity: 0;
			width: 0;
		}
	}
}

#menu { //overlay to display links in
	z-index: 1;
	min-width: 100%;
	min-height: 100%;
	position: fixed;
	top: 0;
	height: 0;
	visibility: hidden;
	opacity: 0;
	text-align: center;
	transition: all 0.3s ease-in-out;
	&.overlay {
		visibility: visible;
		opacity: 1;
		padding-top: 150px;
		background: var(--darker-dark);
	}
    ul{
        padding: 0;
        display: block;
        list-style: none;
    }
    a {
        color: #fff;
        display: block;
        font-size: 25px;
        margin-bottom: 30px;
        text-decoration: none;
        &:hover{
            animation: gradient_cym_data 3s infinite;
        }
    }
}

.nav-menu{ //nav bar
    background: var(--darker-dark);
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
    position:fixed;
    width: 100%;
    height: 90px;
    z-index: 1;
    div{
        display: flex;
        gap: 1rem;
    }
    img{
        width: 4rem;
    }
}

.menu{ //link titles
    display: flex;
    list-style: none;
    gap: 3rem;
    a{
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        @include mixins.gradient_cym; //first use of mixin dark gradient
        color:white;
    }
}

body{
    background-color: var(--bg-dark);
    color: white;
}

.home, .about, .skill, .project{ //dimensions of sections
    width: 100%;
    height: 1000px;
}

.home-content{ //definition of static backgroud and main title style
    width: 100%;
    height: 100%;
    background: url("../imgs/accueil.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 500px 0rem 5vw rgba(0,0,0,0.4);
    ul{
        margin-left: 80px;
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
        left: 0;
        list-style: none;
        li{
            h1{
                font-size: 100px;
                text-align: left;
                color: white;
            }
        }
    }
}

.colored-title{ //third text in main title
    animation: gradient_cym_data 4s infinite;
}

.about-content{ //about global
    display: flex;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    justify-content: center;
    height: 500px;
    span{
        border-left: 2px solid rgb(255, 255, 255);
        margin: 0 50px
    }
    img, .about-text{
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
    }
    img{
        height: 500px;
        border-radius: 75px;
    }
}

.about-text{ //about's text
    background-color: var(--bg-dark);
    border-radius: 25px;  
    padding: 15px; 
    width: 500px;
    transition: 0.3s ease 0s;
    p, h1{
        text-align: left;
    }
    a, h1{
        @include mixins.gradient_cym;
        font-size: 30px;
        font-weight: bold;
    }
}

.skill-content{ //skill content position
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    gap: 30px;
}

.skill-grid{ //skill imgs
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(2, 180px);
    gap: 25px;
    a{
        text-decoration: none;
        div{
            background-color: var(--bg-dark);
            border-radius: 25px;
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
            transition: 0.3s ease 0s;
            color: white;
            img{
                width: 100%;
            }
            &:hover{
                transform: translateY(-7px);
            }
        }
    }
}

.skill-bloc{ //skill text
    background-color: #0e0e0f;
    border-radius: 25px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
    padding: 15px;
    transition: 0.3s ease 0s;
    p{
        text-align: left;
        width: 500px;
    }
    li{
        margin-left: 50px;
        text-align: left;
    }
}

.project-content{ //project content position
    display: block;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    justify-content: center;
    height: 600px;
}

.tab{ //tab button
    overflow: hidden;
    button {
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        color: white;
        font-size: 50px;
        padding: 0 15px;
    }
    button:hover i{
        @include mixins.gradient_cym;
        opacity: 0.5;
    }
    button.active i{
        @include mixins.gradient_cym;
        opacity: 1;
    }
}

.tabcontent { //hide the tabcontents without display=block
    display: none;
    padding: 6px 12px;
}

.pro-container{ //the 6 project's emplacement
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 220px);
    position: relative;
    justify-content: center;
    gap: 25px;
    a{
        text-decoration: none;
    }
}

.pro{ //individual thumbnails
    width: 100%;
    height: 100%;
    background: url("../imgs/accueil.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    transition: 0.3s ease 0s;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
    &:hover{
        transform: translateY(-7px);
    }
    h1{
        font-size: 50px;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
        background-color: #0a0a0ab2;
        border-radius: 25px;
        color: white;
    }
}

.contact{ //dimensions of contact section half as big as the others
    width: 100%;
    height: 500px;
    background-color: var(--darker-dark);
    transition: 0.3s;
}

.contact-bloc{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    padding: 50px 40px;
    img{
        width: 95px;
        transition: 0.3s ease 0s;
        &:hover{
            transform: translateY(-7px);
        }
    }
}

.light-icons, .dark-icons{
    justify-content: space-between;
    margin-left: 30%;
    margin-right: 30%;
}

.light-icons{ //display when dark mode is activated
    display: flex;
}
.dark-icons{ //display when light mode is activated
    display: none;
}

.light-mode-body { //light mode style -> text color = black | background color = shades of white
    background-color: var(--bg-light);
    color: black;
    .skill-bloc, .skill-grid a div, .about-content img, .about-text{ //change every shadow
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
    }
    #burger-menu{
        span,
        span:before,
        span:after {
            background: black;
        }
    }
    #menu {
        &.overlay {
            background: var(--darker-light);
        }
        a{
            color: black;
            &:hover{
                animation: gradient_darker_cym_data 3s infinite;
            }
        }
    }
    .contact, .nav-menu{
        background-color: var(--darker-light);
        color: black;
    }
    .about-content{
        span{
            border-left: 2px solid rgb(0, 0, 0);
        }
    }
    .about-text{
        background-color: var(--bg-light);
    }
    .skill-grid{
        div{
            background-color: var(--bg-light);
            a, h3{
                color: black;
            }
        }
    }
    .skill-bloc{
        background-color: var(--bg-light);
    }
    .contact-bloc{
        .light-icons{
            display: none;
        }
        .dark-icons{
            display: flex;
        }
    }
    .nav-menu ul a{
        @include mixins.gradient_darker_cym; //first use of mixin light gradient
        color: black;
    }
    .about-text a, .about-text h1, .pro-container a, .contact-bloc h1, .contact-bloc a{
        @include mixins.gradient_darker_cym;
    }
    .tab button i{
        color: black;
    }
    .tab button:hover{
        i{
            @include mixins.gradient_darker_cym;
            opacity: 0.7;
        }
    }
    .tab button.active{
        i{
            @include mixins.gradient_darker_cym;
            opacity: 1;
        }
    }
}

.switch { //allow to switch between dark/light mode
    display: block;
    position: relative;
    margin: auto; 
    width: 50px;
    height: 22px;
    cursor: pointer;
    overflow: hidden;
    input {
        position: absolute;
        top: -30px;
        left: -30px;
        width: 0;
        height: 0;
    }
    input + span {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #ffffff;
        border-radius: 20px;
    }
    input:checked + span {
        background: #000000;
    }
    input + span:before { //after clicked
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 4px;
        width: 18px;
        height: 18px;
        background: rgb(0, 0, 0);
        border-radius: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease 0s;
    }
    input:checked + span:before {
        left: 28px;
        background: #ffffff;
    }
}

@media screen and (max-width : 1180px){ //rearrange global content
    #burger-menu{
        display: unset;
    }
    .nav-menu{
        padding: 0;
    }
    .menu{
        display: none;
    }
    .about-content{
        display: block;
        margin: 0 auto 0 auto;
        width: 500px;
        padding-block: 10px;
        span{
            display: none;
        }
        img{
            height: 300px;
            margin-bottom: 15px;
        }
    }
    .skill-content{
        display: block;
        margin: 0 auto 0 auto;
        width: 500px;
    }
    .skill-bloc{
        margin-top: 15px;
        width: 500px;
        p{
            width: 450px;
        }
    }
    .pro-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width : 580px){ //readapt global content
    .home-content{
        box-shadow: inset 1000px 0rem 5vw rgba(0,0,0,0.4);
        ul{
            margin-left: 0;
            li{
                h1{
                    text-align: center;
                    font-size: 17vw;
                }
            }
        }
    }
    .about-content{
        width: 95%;
    }
    .about-text{
        width: 100%;
    }
    .skill-content{
        width: 95%;
    }
    .skill-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .skill-bloc{
        transition: none;
        width: 100%;
        p{
            width: 100%;
        }
    }
    .contact-bloc{
        img{
            width: 75px;
        }
        .light-icons, .dark-icons{
            margin-left: 0;
            margin-right: 0;
        }
    }
}