@use 'mixins';

:root {
    --bg-dark: #0e0e0f;
    --bg-light: #e7e3e3;
    --darker-dark: #0a0a0a;
    --darker-light: #dbdbdb;
    --blue: #1ad1c5;
    --yellow: #ebd161;
    --magenta: #e26ae2;
    --darker-blue: #11837b;
    --darker-yellow: #b49922;
    --darker-magenta: #941794;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    scroll-behavior: smooth;
}

@keyframes gradient_cym_data {
    0% { color: var(--blue); }
    40% { color: var(--yellow); }
    80% { color: var(--magenta); }
    100% { color: var(--blue); }
}

@keyframes gradient_darker_cym_data {
    0% { color: var(--darker-blue); }
    40% { color: var(--darker-yellow); }
    80% { color: var(--darker-magenta); }
    100% { color: var(--darker-blue); }
}

@keyframes shadow-cym {
    0% { background-color : var(--blue); }
    40% { background-color : var(--yellow); }
    80% { background-color : var(--magenta); }
    100% { background-color : var(--blue); }
}

.nav-menu{
    background: var(--darker-dark);
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
    position:fixed;
    width: 100%;
    height: 90px;
    z-index: 1;
    div{
        display: flex;
        gap: 1rem;
    }
    ul{
        display: flex;
        list-style: none;
        gap: 3rem;
        a{
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            @include mixins.gradient_cym;
            color:white;
        }
    }
    img{
        width: 4rem;
    }
}

body{
    background-color: var(--bg-dark);
    color: white;
    transition: 0.3s;
    .home, .about, .skill, .project{
        width: 100%;
        height: 100vh;
    }
    .home{
        .home-content{
            width: 100%;
            height: 100%;
            background: url("../imgs/accueil.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: inset 500px 0rem 5vw rgba(0,0,0,0.4);
            ul{
                margin-left: 80px;
                position: relative;
                top: 50%;
                transform: translate(0, -50%);
                left: 0;
                list-style: none;
                li{
                    h1{
                        font-size: 100px;
                        text-align: left;
                        color: white;
                    }
                    .colored-title{
                        animation: gradient_cym_data 4s infinite;
                    }
                }
            }
        }
    }
    .about{
        .about-content{
            display: flex;
            position: relative;
            top: 50%;
            transform: translate(0, -50%);
            justify-content: center;
            height: 500px;
            span{
                border-left: 2px solid rgb(255, 255, 255);
                margin: 0 50px
            }
            img{
                height: 500px;
                border-radius: 75px;
                box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
            }
            .about-text{   
                background-color: var(--bg-dark);
                border-radius: 25px;
                box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);   
                padding: 15px; 
                width: 500px;
                p, h1{
                    text-align: left;
                }
                a, h1{
                    @include mixins.gradient_cym;
                    font-size: 30px;
                    font-weight: bold;
                }
            }
        }
    }
    .skill{
        .skill-content{
            display: flex;
            justify-content: center;
            position: relative;
            top: 50%;
            transform: translate(0, -50%);
            gap: 30px;
            .skill-grid{
                display: grid;
                grid-template-columns: repeat(3, 150px);
                grid-template-rows: repeat(2, 180px);
                gap: 25px;
                a{
                    text-decoration: none;
                    div{
                        background-color: var(--bg-dark);
                        border-radius: 25px;
                        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
                        transition: all 0.3s ease 0s;
                        color: white;
                        img{
                            width: 100%;
                        }
                        &:hover{
                            transform: translateY(-7px);
                        }
                    }
                }
            }
            .skill-bloc{
                background-color: #0e0e0f;
                border-radius: 25px;
                box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
                padding: 15px;
                transition: all 0.3s ease 0s;
                p{
                    text-align: left;
                    width: 550px;
                }
            }
        }
    }
    .project{
        .project-content{
            display: block;
            position: relative;
            top: 50%;
            transform: translate(0, -50%);
            justify-content: center;
            height: 600px;
            .tab{
                overflow: hidden;
                button {
                    background-color: inherit;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    transition: 0.3s;
                    color: white;
                    font-size: 50px;
                    padding: 0 15px;
                }
                button:hover i{
                    @include mixins.gradient_cym;
                    opacity: 0.5;
                }
                button.active i{
                    @include mixins.gradient_cym;
                    opacity: 1;
                }
            }
            .tabcontent {
                display: none;
                padding: 6px 12px;
            }
            .pro-container{
                display: grid;
                grid-template-columns: repeat(3, 350px);
                grid-template-rows: repeat(2, 220px);
                position: relative;
                justify-content: center;
                gap: 25px;
                a{
                    text-decoration: none;
                    .pro{
                        width: 100%;
                        height: 100%;
                        background: url("../imgs/accueil.jpg");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        border-radius: 25px;
                        transition: all 0.3s ease 0s;
                        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.8);
                        &:hover{
                            transform: translateY(-7px);
                        }
                        h1{
                            font-size: 50px;
                            text-align: center;
                            position: relative;
                            top: 50%;
                            transform: translate(0, -50%);
                            background-color: #0a0a0ab2;
                            border-radius: 25px;
                            color: white;
                        }
                    }
                }
            }
        }
    }
    .contact{
        width: 100%;
        height: 50vh;
        background-color: var(--darker-dark);
        color: white;
        transition: 0.3s;
        .contact-content{
            position: relative;
            top: 50%;
            transform: translate(0, -50%);
            padding: 50px 40px;
            display: flex;
            justify-content:space-between;
            .contact-bloc{
                display: block;
                .light-icons{
                    display: unset;
                }
                .dark-icons{
                    display: none;
                }
                img{
                    width: 50px;
                    transition: all 0.3s ease 0s;
                    &:hover{
                        transform: translateY(-7px);
                    }
                }
                h1,h2{
                    text-align: left;
                }
                a, h1{
                    font-size: 75px;
                    @include mixins.gradient_cym;
                }
                h2{
                    font-size: 30px;
                }
            }
        }
    }
}

.light-mode-body {
    background-color: var(--bg-light);
    color: black;
    .contact, .nav-menu{
        background-color: var(--darker-light);
        color: black;
    }
    .about{
        .about-content{
            span{
                border-left: 2px solid rgb(0, 0, 0);
            }
        }
    }
    .skill{
        .skill-content{
            .skill-grid{
                div{
                    background-color: var(--bg-light);
                    a, h3{
                        color: black;
                    }
                }
            }
            .skill-bloc{
                background-color: var(--bg-light);
            }
        }
    }
    .contact{
        .contact-content{
            .contact-bloc{
                .light-icons{
                    display: none;
                }
                .dark-icons{
                    display: unset;
                }
            }
        }
    }
    .nav-menu ul a{
        @include mixins.gradient_darker_cym;
        color: black;
    }
    .about .about-content .about-text a, .about .about-content .about-text h1, .project .project-content .tabcontent .pro-container a, .contact .contact-content .contact-bloc h1, .contact .contact-content .contact-bloc a{
        @include mixins.gradient_darker_cym;
    }
    .project .project-content .tab button i{
        color: black;
    }
    .project .project-content .tab button:hover{
        i{
            @include mixins.gradient_darker_cym;
            opacity: 0.7;
        }
    }
    .project .project-content .tab button.active{
        i{
            @include mixins.gradient_darker_cym;
            opacity: 1;
        }
    }
}

.switch {
    display: block;
    position: relative;
    margin: auto; 
    width: 50px;
    height: 22px;
    cursor: pointer;
    overflow: hidden;
    input {
        position: absolute;
        top: -30px;
        left: -30px;
        width: 0;
        height: 0;
    }
    input + span {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #ffffff;
        border-radius: 20px;
    }
    input:checked + span {
        background: #000000;
    }
    input + span:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 4px;
        width: 18px;
        height: 18px;
        background: rgb(0, 0, 0);
        border-radius: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease 0s;
    }
    input:checked + span:before {
        left: 28px;
        background: #ffffff;
    }
}

@media screen and (max-width : 1180px){
    body{
        .about{
            .about-content{
                display: block;
                margin: 0 auto 0 auto;
                width: 500px;
                padding-block: 10px;
                span{
                    display: none;
                }
                img{
                    height: 300px;
                    margin-bottom: 15px;
                }
            }
        }
        .skill{
            .skill-content{
                display: block;
                margin: 0 auto 0 auto;
                width: 500px;
                .skill-bloc{
                    margin-top: 15px;
                    width: 500px;
                    p{
                        width: 450px;
                    }
                }
            }
        }
        .project{
            .project-content{
                .pro-container{
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }
}
@media screen and (max-width : 750px){
    body{
        .contact{
            .contact-content{
                display: block;
                .contact-bloc{
                    text-align: left;
                    @media screen and (max-width : 610px){
                        a, h1{
                            font-size: 50px;
                            margin: 20px 0 20px 0;
                        }
                        h2{
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width : 580px){
    body{
        .home{
            .home-content{
                box-shadow: inset 1000px 0rem 5vw rgba(0,0,0,0.4);
                ul{
                    margin-left: 0;
                    li{
                        h1{
                            text-align: center;
                            font-size: 17vw;
                        }
                    }
                }
            }
        }
        .about{
            .about-content{
                width: 95%;
                .about-text{
                    width: 100%;
                }
            }
        }
        .skill{
            .skill-content{
                width: 95%;
                .skill-grid{
                    grid-template-columns: repeat(3, 1fr);
                }
                .skill-bloc{
                    transition: none;
                    width: 100%;
                    p{
                        width: 100%;
                    }
                }
            }
        }
    }
}