@use 'mixins';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    scroll-behavior: smooth;
}

@keyframes color-change {
    0% { color: #1CD3C8; }
    40% { color: #ebd161; }
    80% { color: #e26ae2; }
    100% { color: #1CD3C8; }
  }

.nav-menu{
    background: #0C0C0D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
    position:fixed;
    width: 100%;
    height: 90px;
    z-index: 1;
    ul{
        display: flex;
        list-style: none;
        gap: 3rem;
        a{
            color:white;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            &:hover{
                animation: color-change 2s infinite;
            }
        }
    }
    img{
        width: 4rem;
    }
}

body{
    .home, .about, .project{
        width: 100%;
        height: 100vh;
        background-color: #0F0F10;
    }
    .home{
        .home-content{
            width: 100%;
            height: 100%;
            background: url("../imgs/accueil.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: inset 40vw 0rem 5vw rgba(0,0,0,0.4);
            ul{
                margin-left: 80px;
                position: relative;
                top: 50%;
                transform: translate(0, -50%);
                left: 0;
                list-style: none;
                li{
                    h1{
                        font-size: 100px;
                        text-align: left;
                        color: white;
                    }
                    .colored-title{
                        animation: color-change 4s infinite;
                    }
                }
            }
        }
    }
    .about{
        .about-content{
            display: flex;
            position: relative;
            top: 50%;
            transform: translate(0, -50%);
            color: white;
            justify-content: center;
            height: 60vh;
            span{
                border-left: 2px solid rgb(255, 255, 255);
                margin: 0 50px
            }
            img{
                border-radius: 75px;
            }
            .about-text{            
                p{
                    width: 60vh;
                    text-align: left;
                }
                a{
                    @include mixins.color;
                    font-size: 30px;
                    font-weight: bold;
                    display: flex;
                    text-align: left;
                }
            }
        }
    }
    .project{
        .projet-content{
            display: block;
            position: relative;
            top: 50%;
            transform: translate(0, -50%);
            color: white;
            justify-content: center;
            height: 60vh;
            .tab{
                overflow: hidden;
                button {
                    background-color: inherit;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    transition: 0.3s;
                    color: white;
                    font-size: 50px;
                    padding: 0 15px;
                }
                button:hover {
                    @include mixins.color;
                    opacity: 0.5;
                }
                button.active {
                    @include mixins.color;
                    opacity: 1;
                }
            }
            .tabcontent {
                display: none;
                padding: 6px 12px;
                color: white;
            }
            .pro-container{
                display: grid;
                grid-template-columns: repeat(3, 350px);
                grid-template-rows: repeat(2, 220px);
                position: relative;
                justify-content: center;
                gap: 10px;
                a{
                    text-decoration: none;
                    @include mixins.color;
                    .pro{
                        width: 100%;
                        height: 100%;
                        background: url("../imgs/accueil.jpg");
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        border-radius: 25px;
                        &:hover{
                            opacity: 0.5;
                        }
                        h1{
                            font-size: 50px;
                            text-align: center;
                            position: relative;
                            top: 50%;
                            transform: translate(0, -50%);
                            background-color: #0a0a0a;
                            border-radius: 25px;
                        }
                    }
                }
            }
        }
    }
    .contact{
        width: 100%;
        height: 50vh;
        background-color: #0a0a0a;
        .contact-content{
            position: relative;
            top: 50%;
            transform: translate(0, -50%);
            padding: 50px 40px;
            display: flex;
            justify-content:space-between;
            .contact-bloc{
                display: block;
                img{
                    width: 50px;
                }
                h1,h2{
                    text-align: left;
                }
                a, h1{
                    font-size: 75px;
                    @include mixins.color;
                }
                h2{
                    font-size: 30px;
                    color: white;
                }
            }
        }
    }
}